.App {
  text-align: center;

  min-height: 695px;
}

body {
  background: rgb(71, 145, 182);
  background: linear-gradient(
    0deg,
    rgba(71, 145, 182, 1) 0%,
    rgba(217, 230, 239, 1) 100%
  );
}

.pages-container {
  margin-top: 7%;
}

.menubar {
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

.footer {
  margin-top: 50px;
  position: relative;
  width: 100%;
  text-align: center;
  bottom: 0;
  background-color: #c7cbca;
}
